<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>843EF3A91E213C7400ECED9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843EF3C21E213C7400ECED9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843EF3CD1E213C7500ECED9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
